@font-face {
  font-family: "MySerif";
  src: local("ヒラギノ明朝 Pro W6"), local("Hiragino Mincho Pro W6"),
    local("Times New Roman"),local("Times Roman"),local("Times"),
    url("assets/times-roman.woff");
}

@font-face {
  font-family: "MySans";
  src: local("Helvetica Neue"),local("HelveticaNeue"),url("assets/helveticaneue.woff"),
    local("Helvetica"),local("sans-serif");
}

body {
  font-family: MySans, sans-serif;
  color: white;
  background-color: #111111;
}

input, textarea, select, button {
  font-family: MySerif, serif;
  font-weight: bold;
  color:white;
  background-color: black;
}

#input-container {
  padding-top: 1em;
  color: black;
  background-color: red;
  display: block;
  width: 900px;
  height: 7.5em;
}

#main-fields {
  display: inline-block;
  float: left;
  clear: all;
  padding-right:1em;
}

#title-fields {
  clear:all;
  float:left;
  padding-right:1em;
}

#generate {
  padding: 1em 3em;
  margin: 1em 1em 1em 1em;
  color: white;
  display:block;
}

label {
  font-weight: bold;
  display: inline-block;
  width: 6em;
  vertical-align: top;
  padding-bottom:0.3em;
}

textarea {
  display: inline-block;
  width: 22em;
}
